.service-container{
    margin: 5rem 0;
}

.service-container h2{
    font-size: 30px;
}

.service-card{
    padding: 1.5rem 3rem;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgb(248, 245, 245);
    margin: 2rem 0;
    height: 18rem;
    width: 100%;
    border-radius: 5px;
}
.service-card img{
    width: 20%;
    margin-bottom: 25px;
}
.service-card h3{
    font-size: 1.2rem;
    font-weight: 700;
}
.green-color{
  color: #7AB259;
}
.service-card p{
    color: #666;
    padding: .5rem 0;
}


@media only screen and (max-width: 500px) {
    .service-container h2{
        font-size: 25px;
    }
}