.makeAdmin-container{
    background: #E5E5E5;
    height: 90%;
}
.makeAdmin input,input[type=text]{
    width: 30%;
    padding: .5rem 0;
    padding-left: 2rem;
    color: #575555;
    margin: .5rem 0;
    border: 1px solid  #E5E5E5;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
}
.makeAdmin .btn{
    width: 8%;
    padding: .5rem 0;
    color: #fff;
    margin: .5rem 0;
    border: 1px solid  #E5E5E5;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    background: #009444;
    text-transform: capitalize;
    margin-left: 5px;
}
.makeAdmin form{
    display: flex;
}
.makeAdmin label{
    display: block;
}