footer{
    background: #FBD062;
    height: 80vh;
}

.footer-content h2{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 5px;
}
.footer-content p{
    font-size: 1rem;
    margin-right: 12rem;
    line-height: 1.2;
    margin-top: 20px;
}

.footer-form #email, #name, textarea{
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    outline: none;
    color: #777;
    border-radius: 5px;
}
.footer-form #submit:hover{
   color: #fff;
}
footer .btn{
    padding: 10px 45px;
    background: black;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}